In [4]:
import numpy as np
import pandas as pd 
file = pd.read_csv('/Users/ejire/Desktop/combined_indicators_for_nigeria_2.csv')
file.head

<bound method NDFrame.head of      country_name country_iso3  ...     indicator_code         value
0         Nigeria          NGA  ...     AG.AGR.TRAC.NO  2.480000e+04
1         Nigeria          NGA  ...     AG.AGR.TRAC.NO  2.399900e+04
2         Nigeria          NGA  ...     AG.AGR.TRAC.NO  2.300000e+04
3         Nigeria          NGA  ...     AG.AGR.TRAC.NO  2.300000e+04
4         Nigeria          NGA  ...     AG.AGR.TRAC.NO  2.200000e+04
...           ...          ...  ...                ...           ...
4995      Nigeria          NGA  ...  BX.GRT.EXTA.CD.WD  1.304920e+09
4996      Nigeria          NGA  ...  BX.GRT.EXTA.CD.WD  1.138818e+10
4997      Nigeria          NGA  ...  BX.GRT.EXTA.CD.WD  5.840000e+09
4998      Nigeria          NGA  ...  BX.GRT.EXTA.CD.WD  1.651300e+08
4999      Nigeria          NGA  ...  BX.GRT.EXTA.CD.WD  1.148600e+08

[5000 rows x 6 columns]>

In [5]:
file.shape

(5000, 6)

In [6]:
file.columns

Index(['country_name', 'country_iso3', 'year', 'indicator_name',
       'indicator_code', 'value'],
      dtype='object')

In [7]:
file.head(5)

  country_name country_iso3  ...  indicator_code    value
0      Nigeria          NGA  ...  AG.AGR.TRAC.NO  24800.0
1      Nigeria          NGA  ...  AG.AGR.TRAC.NO  23999.0
2      Nigeria          NGA  ...  AG.AGR.TRAC.NO  23000.0
3      Nigeria          NGA  ...  AG.AGR.TRAC.NO  23000.0
4      Nigeria          NGA  ...  AG.AGR.TRAC.NO  22000.0

[5 rows x 6 columns]

In [8]:
file.rename(columns={'country_iso3': 'country code(iso3)'}, inplace=True)
file.head()

  country_name country code(iso3)  ...  indicator_code    value
0      Nigeria                NGA  ...  AG.AGR.TRAC.NO  24800.0
1      Nigeria                NGA  ...  AG.AGR.TRAC.NO  23999.0
2      Nigeria                NGA  ...  AG.AGR.TRAC.NO  23000.0
3      Nigeria                NGA  ...  AG.AGR.TRAC.NO  23000.0
4      Nigeria                NGA  ...  AG.AGR.TRAC.NO  22000.0

[5 rows x 6 columns]

In [9]:
file.rename(columns={'indicator_name': 'Indicator Tags'}, inplace=True)
file.head()

  country_name country code(iso3)  ...  indicator_code    value
0      Nigeria                NGA  ...  AG.AGR.TRAC.NO  24800.0
1      Nigeria                NGA  ...  AG.AGR.TRAC.NO  23999.0
2      Nigeria                NGA  ...  AG.AGR.TRAC.NO  23000.0
3      Nigeria                NGA  ...  AG.AGR.TRAC.NO  23000.0
4      Nigeria                NGA  ...  AG.AGR.TRAC.NO  22000.0

[5 rows x 6 columns]

In [10]:
file.value.mean()

1322439603.309291

In [11]:
file.value.min()

-26734880186.1829

In [12]:
file.value.max()

114473909728.746

In [20]:
sulice = file['Indicator Tags']
sulice.head

<bound method NDFrame.head of 0                        Agricultural machinery, tractors
1                        Agricultural machinery, tractors
2                        Agricultural machinery, tractors
3                        Agricultural machinery, tractors
4                        Agricultural machinery, tractors
                              ...
4995    Grants, excluding technical cooperation (BoP, ...
4996    Grants, excluding technical cooperation (BoP, ...
4997    Grants, excluding technical cooperation (BoP, ...
4998    Grants, excluding technical cooperation (BoP, ...
4999    Grants, excluding technical cooperation (BoP, ...
Name: Indicator Tags, Length: 5000, dtype: object>

In [23]:
feelter = file[file['Indicator Tags'].eq('Income share held by lowest 20%')]

In [24]:
feelter.shape

(5, 6)

In [27]:
#learn the different unique indicator tags 
file['Indicator Tags'].unique()

array(['Agricultural machinery, tractors',
       'Fertilizer consumption (% of fertilizer production)',
       'Fertilizer consumption (kilograms per hectare of arable land)',
       'Agricultural land (sq. km)', 'Agricultural land (% of land area)',
       'Arable land (hectares)', 'Arable land (hectares per person)',
       'Arable land (% of land area)',
       'Land under cereal production (hectares)',
       'Permanent cropland (% of land area)',
       'Rural land area where elevation is below 5 meters (sq. km)',
       'Rural land area where elevation is below 5 meters (% of total land area)',
       'Forest area (sq. km)', 'Forest area (% of land area)',
       'Agricultural irrigated land (% of total agricultural land)',
       'Average precipitation in depth (mm per year)',
       'Land area (sq. km)', 'Rural land area (sq. km)',
       'Agricultural machinery, tractors per 100 sq. km of arable land',
       'Cereal production (metric tons)',
       'Crop production index (2004-2006 = 100)',
       'Food production index (2004-2006 = 100)',
       'Livestock production index (2004-2006 = 100)',
       'Surface area (sq. km)', 'Cereal yield (kg per hectare)',
       'Access to electricity, rural (% of rural population)',
       'Agricultural methane emissions (thousand metric tons of CO2 equivalent)',
       'Agricultural methane emissions (% of total)',
       'Agricultural nitrous oxide emissions (thousand metric tons of CO2 equivalent)',
       'Agricultural nitrous oxide emissions (% of total)',
       'Rural population living in areas where elevation is below 5 meters (% of total population)',
       'Annual freshwater withdrawals, agriculture (% of total freshwater withdrawal)',
       'Agriculture, forestry, and fishing, value added (current US$)',
       'Agriculture, forestry, and fishing, value added (% of GDP)',
       'Rural poverty gap at national poverty lines (%)',
       'Rural poverty headcount ratio at national poverty lines (% of rural population)',
       'Employment in agriculture, female (% of female employment) (modeled ILO estimate)',
       'Employment in agriculture, male (% of male employment) (modeled ILO estimate)',
       'Employment in agriculture (% of total employment) (modeled ILO estimate)',
       'Rural population', 'Rural population growth (annual %)',
       'Rural population (% of total population)',
       'Agricultural raw materials imports (% of merchandise imports)',
       'Agricultural raw materials exports (% of merchandise exports)',
       'Economically active population in agriculture (number)',
       'Grants, excluding technical cooperation (BoP, current US$)',
       'Technical cooperation grants (BoP, current US$)',
       'Net bilateral aid flows from DAC donors, Australia (current US$)',
       'Net bilateral aid flows from DAC donors, Austria (current US$)',
       'Net bilateral aid flows from DAC donors, Belgium (current US$)',
       'Net bilateral aid flows from DAC donors, Canada (current US$)',
       'Net bilateral aid flows from DAC donors, European Union institutions (current US$)',
       'Net bilateral aid flows from DAC donors, Switzerland (current US$)',
       'Net bilateral aid flows from DAC donors, Czech Republic (current US$)',
       'Net bilateral aid flows from DAC donors, Germany (current US$)',
       'Net bilateral aid flows from DAC donors, Denmark (current US$)',
       'Net bilateral aid flows from DAC donors, Spain (current US$)',
       'Net bilateral aid flows from DAC donors, Finland (current US$)',
       'Net bilateral aid flows from DAC donors, France (current US$)',
       'Net bilateral aid flows from DAC donors, United Kingdom (current US$)',
       'Net bilateral aid flows from DAC donors, Greece (current US$)',
       'Net bilateral aid flows from DAC donors, Ireland (current US$)',
       'Net bilateral aid flows from DAC donors, Italy (current US$)',
       'Net bilateral aid flows from DAC donors, Japan (current US$)',
       'Net bilateral aid flows from DAC donors, Korea, Rep. (current US$)',
       'Net bilateral aid flows from DAC donors, Luxembourg (current US$)',
       'Net bilateral aid flows from DAC donors, Netherlands (current US$)',
       'Net bilateral aid flows from DAC donors, Norway (current US$)',
       'Net bilateral aid flows from DAC donors, New Zealand (current US$)',
       'Net bilateral aid flows from DAC donors, Poland (current US$)',
       'Net bilateral aid flows from DAC donors, Portugal (current US$)',
       'Net bilateral aid flows from DAC donors, Slovak Republic (current US$)',
       'Net bilateral aid flows from DAC donors, Slovenia (current US$)',
       'Net bilateral aid flows from DAC donors, Sweden (current US$)',
       'Net bilateral aid flows from DAC donors, Total (current US$)',
       'Net bilateral aid flows from DAC donors, United States (current US$)',
       'Net official flows from UN agencies, FAO (current US$)',
       'Net official flows from UN agencies, IAEA (current US$)',
       'Net official flows from UN agencies, IFAD (current US$)',
       'Net official flows from UN agencies, ILO (current US$)',
       'Net official flows from UN agencies, UNAIDS (current US$)',
       'Net official flows from UN agencies, UNICEF (current US$)',
       'Net official flows from UN agencies, UNHCR (current US$)',
       'Net official flows from UN agencies, UNDP (current US$)',
       'Net official flows from UN agencies, UNFPA (current US$)',
       'Net official flows from UN agencies, UNTA (current US$)',
       'Net official flows from UN agencies, WFP (current US$)',
       'Net official flows from UN agencies, WHO (current US$)',
       'Net official development assistance and official aid received (current US$)',
       'Net official development assistance and official aid received (constant 2015 US$)',
       'Net official development assistance received (current US$)',
       'Net ODA received (% of gross capital formation)',
       'Net ODA received (% of GNI)',
       'Net official development assistance received (constant 2015 US$)',
       'Net ODA received (% of imports of goods, services and primary income)',
       'Net ODA received per capita (current US$)',
       'School enrollment, primary and secondary (gross), gender parity index (GPI)',
       'Primary completion rate, total (% of relevant age group)',
       'Prevalence of HIV, total (% of population ages 15-49)',
       'Mortality rate, under-5 (per 1,000 live births)',
       'Pregnant women receiving prenatal care (%)',
       'Maternal mortality ratio (modeled estimate, per 100,000 live births)',
       'Prevalence of stunting, height for age (% of children under 5)',
       'Incidence of tuberculosis (per 100,000 people)',
       'Income share held by lowest 20%',
       'Poverty headcount ratio at $1.90 a day (2011 PPP) (% of population)',
       'Vulnerable employment, total (% of total employment) (modeled ILO estimate)',
       'Net migration', 'IDA grants (current US$)',
       'Debt forgiveness grants (current US$)',
       'Trade in services (% of GDP)',
       'Communications, computer, etc. (% of service imports, BoP)',
       'Primary income payments (BoP, current US$)',
       'Imports of goods and services (BoP, current US$)',
       'Insurance and financial services (% of service imports, BoP)',
       'Goods imports (BoP, current US$)',
       'Service imports (BoP, current US$)',
       'Charges for the use of intellectual property, payments (BoP, current US$)',
       'Imports of goods, services and primary income (BoP, current US$)',
       'Transport services (% of service imports, BoP)',
       'Travel services (% of service imports, BoP)',
       'Foreign direct investment, net outflows (BoP, current US$)',
       'Foreign direct investment, net outflows (% of GDP)',
       'Secondary income, other sectors, payments (BoP, current US$)',
       'Personal remittances, paid (current US$)',
       'Current account balance (BoP, current US$)',
       'Current account balance (% of GDP)',
       'Net financial account (BoP, current US$)',
       'Net primary income (BoP, current US$)',
       'Net trade in goods and services (BoP, current US$)',
       'Net trade in goods (BoP, current US$)',
       'Net errors and omissions (BoP, current US$)',
       'Foreign direct investment, net (BoP, current US$)',
       'Portfolio investment, net (BoP, current US$)',
       'Reserves and related items (BoP, current US$)',
       'Net secondary income (BoP, current US$)',
       'Net capital account (BoP, current US$)'], dtype=object)

In [29]:
#let's look at poverty and health numbers 

poverty_and_health = file[file['Indicator Tags'].eq('Incidence of tuberculosis (per 100,000 people)')|file['Indicator Tags'].eq('Poverty headcount ratio at $1.90 a day (2011 PPP) (% of population)')]
poverty_and_health.shape
poverty_and_health

     country_name country code(iso3)  ...  indicator_code  value
3775      Nigeria                NGA  ...     SH.TBS.INCD  219.0
3776      Nigeria                NGA  ...     SH.TBS.INCD  219.0
3777      Nigeria                NGA  ...     SH.TBS.INCD  219.0
3778      Nigeria                NGA  ...     SH.TBS.INCD  219.0
3779      Nigeria                NGA  ...     SH.TBS.INCD  219.0
3780      Nigeria                NGA  ...     SH.TBS.INCD  219.0
3781      Nigeria                NGA  ...     SH.TBS.INCD  219.0
3782      Nigeria                NGA  ...     SH.TBS.INCD  219.0
3783      Nigeria                NGA  ...     SH.TBS.INCD  219.0
3784      Nigeria                NGA  ...     SH.TBS.INCD  219.0
3785      Nigeria                NGA  ...     SH.TBS.INCD  219.0
3786      Nigeria                NGA  ...     SH.TBS.INCD  219.0
3787      Nigeria                NGA  ...     SH.TBS.INCD  219.0
3788      Nigeria                NGA  ...     SH.TBS.INCD  219.0
3789      Nigeria                NGA  ...     SH.TBS.INCD  219.0
3790      Nigeria                NGA  ...     SH.TBS.INCD  219.0
3791      Nigeria                NGA  ...     SH.TBS.INCD  219.0
3792      Nigeria                NGA  ...     SH.TBS.INCD  219.0
3798      Nigeria                NGA  ...     SI.POV.DDAY   53.5
3799      Nigeria                NGA  ...     SI.POV.DDAY   53.5
3800      Nigeria                NGA  ...     SI.POV.DDAY   63.5
3801      Nigeria                NGA  ...     SI.POV.DDAY   57.1
3802      Nigeria                NGA  ...     SI.POV.DDAY   53.3

[23 rows x 6 columns]

In [44]:
#ibid but without using the eq() function. Let's see if it works the same

poverty_and_health = file[((file['Indicator Tags'] == 'Incidence of tuberculosis (per 100,000 people)')|(file['Indicator Tags'] == 'Poverty headcount ratio at $1.90 a day (2011 PPP) (% of population)'))]
poverty_and_health.shape
poverty_and_health

# I had a bit of challenge here, and had to make sure that I had the grouped expressions on either side of the boolean in parentheses

     country_name country code(iso3)  ...  indicator_code  value
3775      Nigeria                NGA  ...     SH.TBS.INCD  219.0
3776      Nigeria                NGA  ...     SH.TBS.INCD  219.0
3777      Nigeria                NGA  ...     SH.TBS.INCD  219.0
3778      Nigeria                NGA  ...     SH.TBS.INCD  219.0
3779      Nigeria                NGA  ...     SH.TBS.INCD  219.0
3780      Nigeria                NGA  ...     SH.TBS.INCD  219.0
3781      Nigeria                NGA  ...     SH.TBS.INCD  219.0
3782      Nigeria                NGA  ...     SH.TBS.INCD  219.0
3783      Nigeria                NGA  ...     SH.TBS.INCD  219.0
3784      Nigeria                NGA  ...     SH.TBS.INCD  219.0
3785      Nigeria                NGA  ...     SH.TBS.INCD  219.0
3786      Nigeria                NGA  ...     SH.TBS.INCD  219.0
3787      Nigeria                NGA  ...     SH.TBS.INCD  219.0
3788      Nigeria                NGA  ...     SH.TBS.INCD  219.0
3789      Nigeria                NGA  ...     SH.TBS.INCD  219.0
3790      Nigeria                NGA  ...     SH.TBS.INCD  219.0
3791      Nigeria                NGA  ...     SH.TBS.INCD  219.0
3792      Nigeria                NGA  ...     SH.TBS.INCD  219.0
3798      Nigeria                NGA  ...     SI.POV.DDAY   53.5
3799      Nigeria                NGA  ...     SI.POV.DDAY   53.5
3800      Nigeria                NGA  ...     SI.POV.DDAY   63.5
3801      Nigeria                NGA  ...     SI.POV.DDAY   57.1
3802      Nigeria                NGA  ...     SI.POV.DDAY   53.3

[23 rows x 6 columns]

In [46]:
#ibid but without using the eq() function and used 'isin()' function. Let's see if it works the same

poverty_and_health = file[((file['Indicator Tags'] == 'Incidence of tuberculosis (per 100,000 people)')|(file['Indicator Tags'].isin(['Poverty headcount ratio at $1.90 a day (2011 PPP) (% of population)'])))]
poverty_and_health.shape
poverty_and_health

# It worked, but I had to be careful about putting the tags I wanted to filter by, in a list. As a string throws up an error.

     country_name country code(iso3)  ...  indicator_code  value
3775      Nigeria                NGA  ...     SH.TBS.INCD  219.0
3776      Nigeria                NGA  ...     SH.TBS.INCD  219.0
3777      Nigeria                NGA  ...     SH.TBS.INCD  219.0
3778      Nigeria                NGA  ...     SH.TBS.INCD  219.0
3779      Nigeria                NGA  ...     SH.TBS.INCD  219.0
3780      Nigeria                NGA  ...     SH.TBS.INCD  219.0
3781      Nigeria                NGA  ...     SH.TBS.INCD  219.0
3782      Nigeria                NGA  ...     SH.TBS.INCD  219.0
3783      Nigeria                NGA  ...     SH.TBS.INCD  219.0
3784      Nigeria                NGA  ...     SH.TBS.INCD  219.0
3785      Nigeria                NGA  ...     SH.TBS.INCD  219.0
3786      Nigeria                NGA  ...     SH.TBS.INCD  219.0
3787      Nigeria                NGA  ...     SH.TBS.INCD  219.0
3788      Nigeria                NGA  ...     SH.TBS.INCD  219.0
3789      Nigeria                NGA  ...     SH.TBS.INCD  219.0
3790      Nigeria                NGA  ...     SH.TBS.INCD  219.0
3791      Nigeria                NGA  ...     SH.TBS.INCD  219.0
3792      Nigeria                NGA  ...     SH.TBS.INCD  219.0
3798      Nigeria                NGA  ...     SI.POV.DDAY   53.5
3799      Nigeria                NGA  ...     SI.POV.DDAY   53.5
3800      Nigeria                NGA  ...     SI.POV.DDAY   63.5
3801      Nigeria                NGA  ...     SI.POV.DDAY   57.1
3802      Nigeria                NGA  ...     SI.POV.DDAY   53.3

[23 rows x 6 columns]

In [57]:
#Transitioning to iloc now 

file.iloc[4994:4999]

# Looks like iloc functions almost like you would list

country_name                                                    Nigeria
country code(iso3)                                                  NGA
year                                                               2003
Indicator Tags        Grants, excluding technical cooperation (BoP, ...
indicator_code                                        BX.GRT.EXTA.CD.WD
value                                                        1.1486e+08
Name: 4999, dtype: object

In [58]:
file.iloc[4094,4]
#only that in this case, it's 2 dimensional. So you can get exact row and column positions for each element in the DF.

'BM.GSR.GNFS.CD'

In [59]:
file.iloc[4994:4999,4]

#Looks like we can also filter with this

4994    BX.GRT.EXTA.CD.WD
4995    BX.GRT.EXTA.CD.WD
4996    BX.GRT.EXTA.CD.WD
4997    BX.GRT.EXTA.CD.WD
4998    BX.GRT.EXTA.CD.WD
Name: indicator_code, dtype: object

In [60]:
file[file.iloc[:,2] == 2009]

# More filtering

     country_name country code(iso3)  ...     indicator_code         value
54        Nigeria                NGA  ...  AG.CON.FERT.PT.ZS  2.135078e+02
62        Nigeria                NGA  ...     AG.CON.FERT.ZS  5.261031e+00
77        Nigeria                NGA  ...     AG.LND.AGRI.K2  6.900000e+05
133       Nigeria                NGA  ...     AG.LND.AGRI.ZS  7.576007e+01
189       Nigeria                NGA  ...     AG.LND.ARBL.HA  3.200000e+07
...           ...                ...  ...                ...           ...
4825      Nigeria                NGA  ...     BN.KLT.DINV.CD -7.029619e+09
4866      Nigeria                NGA  ...     BN.KLT.PTXL.CD  3.452547e+08
4900      Nigeria                NGA  ...     BN.RES.INCL.CD -1.051451e+10
4941      Nigeria                NGA  ...     BN.TRF.CURR.CD  1.936164e+10
4993      Nigeria                NGA  ...  BX.GRT.EXTA.CD.WD  9.347400e+08

[114 rows x 6 columns]

In [ ]:
(file[file.iloc[:,2] == 2009]).shape

In [63]:
#Transitioning from iloc to loc. It looks like loc involves the use of labels, instead of the specific address of the row/column if you (more than likely) don't know what that is

file.loc[file['country_name'].isin(['Nigeria'])]

     country_name country code(iso3)  ...     indicator_code         value
0         Nigeria                NGA  ...     AG.AGR.TRAC.NO  2.480000e+04
1         Nigeria                NGA  ...     AG.AGR.TRAC.NO  2.399900e+04
2         Nigeria                NGA  ...     AG.AGR.TRAC.NO  2.300000e+04
3         Nigeria                NGA  ...     AG.AGR.TRAC.NO  2.300000e+04
4         Nigeria                NGA  ...     AG.AGR.TRAC.NO  2.200000e+04
...           ...                ...  ...                ...           ...
4995      Nigeria                NGA  ...  BX.GRT.EXTA.CD.WD  1.304920e+09
4996      Nigeria                NGA  ...  BX.GRT.EXTA.CD.WD  1.138818e+10
4997      Nigeria                NGA  ...  BX.GRT.EXTA.CD.WD  5.840000e+09
4998      Nigeria                NGA  ...  BX.GRT.EXTA.CD.WD  1.651300e+08
4999      Nigeria                NGA  ...  BX.GRT.EXTA.CD.WD  1.148600e+08

[5000 rows x 6 columns]

In [65]:
# Introducing a new column now, and filling it with random values, to try out the ability to manipulate new columns. But I am using another assignment to keep the original DF intact

new_df = file
new_df['Random Column'] = np.random.rand(5000,1)
new_df.columns

Index(['country_name', 'country code(iso3)', 'year', 'Indicator Tags',
       'indicator_code', 'value', 'Random Column'],
      dtype='object')

In [67]:
new_df['To Be Deleted'] = new_df['Random Column']+10
new_df.head(5)

#created a new column from 'Random Column' to practice manipulations on Columns and eventually deletion

  country_name country code(iso3)  year  ...    value Random Column  To Be Deleted
0      Nigeria                NGA  2007  ...  24800.0      0.362392      10.362392
1      Nigeria                NGA  2006  ...  23999.0      0.083006      10.083006
2      Nigeria                NGA  2005  ...  23000.0      0.016505      10.016505
3      Nigeria                NGA  2004  ...  23000.0      0.127628      10.127628
4      Nigeria                NGA  2003  ...  22000.0      0.129805      10.129805

[5 rows x 8 columns]

In [70]:
new_df = new_df.drop(['To Be Deleted'],axis=1)
new_df.head(5)

  country_name country code(iso3)  year  ...  indicator_code    value  Random Column
0      Nigeria                NGA  2007  ...  AG.AGR.TRAC.NO  24800.0       0.362392
1      Nigeria                NGA  2006  ...  AG.AGR.TRAC.NO  23999.0       0.083006
2      Nigeria                NGA  2005  ...  AG.AGR.TRAC.NO  23000.0       0.016505
3      Nigeria                NGA  2004  ...  AG.AGR.TRAC.NO  23000.0       0.127628
4      Nigeria                NGA  2003  ...  AG.AGR.TRAC.NO  22000.0       0.129805

[5 rows x 7 columns]